/*Body design and animations*/
body {
  background: linear-gradient(142deg, #ffffff3f, #10011825);
  font-family: "IBM Plex Sans", sans-serif;
  animation: fadein 1s;
  justify-content: center;
  margin-top: 4%;
  background-size: 200%;
  scrollbar-width: none;
  overflow: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  overflow: scroll;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*top navigation*/

#i_con {
  width: 11%;
  height: 11%;
  padding-left: 10px;
  float: left;
  margin: 0 auto;
}

.navigation {
  background: linear-gradient(70deg, #ffffff, #787bffab, #14156dab, #100118ad);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0.6% 0.6% 0.6% 0.6%;
  text-align: right;
  z-index: 1;
  box-shadow: 5px 5px 5px 5px #222121c9;
  border-bottom: 2.5px solid #fcfbfbc9;
  overflow: hidden;
}

.Navbar__Link-toggle {
  display: none;
}

#tog {
  color: white;
  font-size: 3vw;
}

.navigation a {
  padding: 3% 3%;
  text-align: center;
  text-decoration: none;
  font-size: 1.8vw;
  color: #ffffff;
}

.navigation a:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.849);
  color: white;
}

a {
  color: rgb(0, 0, 0);
}

.ds {
  color: black;
}

a.ds:link {
  text-decoration: underline;
}

a.ds:hover {
  text-decoration: underline;
  color: rgb(96, 119, 119);
}

/*content*/

.content {
  text-align: center;
  color: rgb(7, 2, 15);
  padding: 0% 3% 3% 3%;
}

/*container*/

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

.details p {
  font-size: 1.3vw;
}
/*card*/

.contain_head {
  text-align: center;
  font-size: 3.5vw;
  background: linear-gradient(50deg, #4bb9b4, #266496, #873f9b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushan Script", cursive;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #ffffff;
  margin-top: 3rem;
  margin-bottom: 2rem;
  border: 2px solid #000;
  height: 25%;
  width: 100%;
}

.card img {
  width: 100%;
  height: 100%;
}

.card > div {
  padding: 1rem;
}

.card:nth-child(even) img {
  order: 2;
}

/*Card 2*/

.card2 {
  margin-top: 5%;
  border: 2px solid black;
  padding: 5%;
  background: #f1f1f1;
}

.card2 > img {
  display: block;
}

.bg_white {
  background-color: white;
  margin-bottom: 2.5%;
}

.details {
  margin-bottom: 2.5%;
}

/* CSHub */
h1 {
  background: linear-gradient(50deg, #4bb9b4, #266496, #873f9b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  font-size: 3.5vw;
  font-weight: 500;
  font-family: "Kaushan Script", cursive;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.2s;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

/*slider*/

#point {
  animation: point 2s;
}
#nxtpoint {
  color: rgb(0, 0, 0);
  animation: nxtpoint 2s;
}

@keyframes point {
  from {
    margin-left: -50%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes nxtpoint {
  from {
    margin-left: 50%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*quotes*/
.quote {
  color: rgb(0, 0, 0);
  font-style: italic;
  padding-right: 5%;
}

/*dc link*/
p {
  color: rgb(82, 19, 19);
  font-size: 2vw;
}

.mySlides img {
  width: 70%;
  height: 70%;
  margin-bottom: 3.1%;
}

.next {
  display: flex;
  align-items: center;
  justify-content: center;
}

.next img {
  width: 70%;
  height: 70%;
}
/*slideshow buttons*/

.slidebutton {
  text-align: center;
}

.left {
  position: inherit;
  font-size: 200%;
  color: aliceblue;
  background-color: rgb(0, 0, 0);
  margin-right: 10%;
  box-shadow: 3px 3px 3px 3px #222121c9;
}

.right {
  position: inherit;
  font-size: 200%;
  color: aliceblue;
  background-color: rgb(0, 0, 0);
  margin-left: 10%;
  box-shadow: 3px 3px 3px 3px #222121c9;
}

.left:hover {
  color: rgb(101, 172, 172);
}

.right:hover {
  color: rgb(101, 172, 172);
}

/*footer*/

footer {
  box-sizing: border-box;
  background: linear-gradient(
    70deg,
    #ffffff3f,
    #ffffff,
    #0f105260,
    #ffffff,
    #ffffff1f
  );
  font-family: "Kaushan Script", cursive;
  color: rgb(0, 0, 0);
  border-top: 2px solid black;
  width: 100%;
}

ul {
  margin: 0 auto;
  padding: 0.5% 0.5% 1.5% 0%;
  margin-left: 3%;
  margin-right: 3%;
}

li {
  display: inline-block;
  list-style: none;
  font-size: 1.7vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

#dsn {
  font-size: 0.9vw;
  float: right;
  font-family: "IBM Plex Sans", sans-serif;
}

/*Social media*/

footer i:hover {
  transform: scale(1.4);
}

#facebook {
  color: #3b5998;
}

#reddit {
  color: #ff4500;
}

#discord {
  color: #5865f2;
}

#insta {
  color: #8a3ab9;
}
/*Responsive*/

@media screen and (max-width: 708px) {
  body {
    margin-top: 9%;
  }

  .navigation {
    background: linear-gradient(
      70deg,
      #ffffff,
      #a7a8ffab,
      #14156dab,
      #100118ad
    );
  }

  #tog {
    font-size: 5vw;
  }

  .container {
    margin: 0 auto;
    padding: 0 auto;
    max-width: 500px;
    font-size: 3vw;
  }

  .card {
    display: block;
    width: 100%;
    height: 70%;
  }

  .card img {
    width: 100%;
    height: 60%;
  }

  .mySlides img,
  .next img {
    width: 100%;
    height: 100%;
  }

  .left,
  .right {
    font-size: 100%;
  }

  #i_con {
    width: 30%;
    height: 30%;
  }

  h1,
  .contain_head {
    font-size: 6vw;
  }

  p,
  .details p {
    font-size: 3.5vw;
  }

  .navigation a {
    font-size: 3vw;
  }

  ul {
    padding: 0.5% 0.5% 4% 0.5%;
  }

  li {
    font-size: 4vw;
  }

  #dsn {
    font-size: 2vw;
  }

  footer {
    background: #ffffff1f;
    border-top: 1px solid black;
  }

  .Navbar__Items {
    flex-direction: column;
    display: none;
  }

  .Navbar__ToggleShow {
    display: flex;
  }

  .Navbar__Link-toggle {
    margin-right: 3%;
    display: initial;
    cursor: pointer;
  }
}

@media screen and (max-width: 300px) {
  body {
    margin-top: 9%;
  }

  h1 {
    font-size: 6vw;
  }

  p {
    font-size: 4.4vw;
  }
}
